.autocomplete {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 0px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    position: absolute;
    line-height: 32px;
}

.autocomplete>div {
    padding: 0px 10px;
}

.autocomplete>div:hover {
    background-color: rgba(0,100,255,0.1);
}

.autocomplete>div.active {
    background-color: rgba(0,100,255,0.2);
}
