<main class="sm">
  <nav>
    <div class="select">
      <div class="select-label">{{currentTagName()}}
        <span class="spacer"></span>
        <span class="icon" style="position:absolute;right:15px;" [hidden]="tags().length === 0">4</span>
      </div>
      @if (tags().length > 0) {
        <select [ngModel]="currentTag()" (ngModelChange)="updateCurrentTag($event)">
          <option [ngValue]="undefined">- All -</option>
          <option [ngValue]="null">- Untagged -</option>
          @for (tag of tags(); track tag) {
            <option value="{{tag}}">{{tag}}&nbsp;&nbsp;</option>
          }
        </select>
      }
    </div>
    <div class="pull-right">
      <app-auth></app-auth>
    </div>
  </nav>
  <div class="list-group">
    <a class="list-group-item" routerLink="/decks/new">
      <strong>+</strong>
      Build a New Deck
    </a>
    @for (deck of visibleDecks(); track deck) {
      <a class="list-group-item" routerLink="/decks/{{deck.id}}">
        {{deck.name}}
        @for (tag of deck.tags; track tag) {
          <span class="badge pull-right">{{tag}}</span>
        }
      </a>
    }
  </div>
  @if (isLoading()) {
    <app-large-spinner></app-large-spinner>
  }
</main>