<main class="sm">
    <nav>
        <div class="select" *ngIf="tags()">
            <div class="select-label">{{currentTagName()}}
                <span class="spacer"></span>
                <span class="icon" style="position:absolute;right:15px;" [hidden]="tags().length === 0">4</span>
            </div>
            <select [ngModel]="currentTag()" (ngModelChange)="updateCurrentTag($event)" *ngIf="tags().length > 0">
                <option [ngValue]="undefined">- All -</option>
                <option [ngValue]="null">- Untagged -</option>
                <option *ngFor="let tag of tags()" value="{{tag}}">{{tag}}&nbsp;&nbsp;</option>
            </select>
        </div>
        <div class="pull-right">
            <app-auth></app-auth>
        </div>
    </nav>
    <div class="list-group">
        <a class="list-group-item" routerLink="/decks/new">
            <strong>+</strong>
            Build a New Deck
        </a>
        <a class="list-group-item" routerLink="/decks/{{deck.id}}" *ngFor="let deck of visibleDecks()">
            {{deck.name}}
            <span class="badge pull-right" *ngFor="let tag of deck.tags">{{tag}}</span>
        </a>
    </div>
    <app-large-spinner *ngIf="isLoading()"></app-large-spinner>
</main>