@keyframes spinner {
    0% {
        content: "0";
    }

    25% {
        content: "1";
    }

    50% {
        content: "2";
    }

    75% {
        content: "3";
    }

    100% {
        content: "0";
    }
}

.spinner::after {
    content: "";
    animation: spinner 600ms;
    animation-iteration-count: infinite;
}