@keyframes spinner {
    0% {
        content: "▙";
    }

    25% {
        content: "▛";
    }

    50% {
        content: "▜";
    }

    75% {
        content: "▟";
    }

    100% {
        content: "▙";
    }
}

.spinner::after {
    content: "";
    animation: spinner 600ms;
    animation-iteration-count: infinite;
}