// Lib
@import "./components/bootstrap.scss";

// Mixins
@import "./components/mixins/animate.scss";

// Components
@import "./components/alert.scss";
@import "./components/badge.scss";
@import "./components/flex.scss";
@import "./components/header.scss";
@import "./components/hr.scss";
@import "./components/input.scss";
@import "./components/lightbox.scss";
@import "./components/list-group.scss";
@import "./components/margins.scss";
@import "./components/nav.scss";
@import "./components/padding.scss";
@import "./components/radio-group.scss";
@import "./components/section.scss";
@import "./components/select.scss";
@import "./components/spinners.scss";
@import "./components/tabs.scss";
@import "./components/tag-input.scss";
@import "./components/textarea.scss";

body {
    padding-bottom: 200px;
    background-color: #313131;
    background-image: url("../images/bg.png");
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: $screen-lg;

    &:not(.sm) {
        @media (min-width: $screen-md-min) {
            padding-left:15px;
            padding-right:15px;
        }
    }

    &.sm {
        max-width: $screen-sm;
    }
}

.btn-default {
    &:hover, &:focus, &:active {
        border-color: $btn-default-border;
    }
}

.border-left-gte-md {
    border-left: 1px solid #ddd;
}

.quantity::after {
    content: "x";
}

.hide-prices .price {
    display: none;
}

.stat-group {
    .name::after {
        content: ":";
    }
    .bar {
        background-color: #777;
        color: #777;
    }
}

#card-preview {
    position:absolute;
    height: 300px;
}

.deck-info {
    padding: 10px;
    border-top-width: 0;
}

.deck-name {
    padding: 5px 6px;
    font-size: 18px;
}

.deck-name-input {
    color: $text-color;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    transition-duration: 0ms;
    padding-left: 5px;
    &:not(:hover):not(:focus):not(:active) {
        background-color: transparent;
        border-color: transparent;
        box-shadow: transparent 0 0 0;
    }
}

.has-bottom-buttons {
    position: relative;
    border-bottom-left-radius: 0;

    @media (max-width: $screen-xs-max) {
        border-bottom-right-radius: 0;
    }
}

.bottom-buttons {
    @media (max-width: $screen-xs-max) {
        display: flex;
    }

    button {
        border-top-width: 0;

        @media (max-width: $screen-xs-max) {
            flex: 1;
        }

        &:not(:first-of-type) {
            border-bottom-right-radius: 4px;
            border-left-width: 0;
        }

        &:not(:last-of-type) {
            border-bottom-left-radius: 4px;
        }
    }
}

.pull-right {
    float: right;
}

.large {
    font-size: 18px;
}

.small {
    font-size: 12px;
}

.light {
    color: #777;
}

.capitalize {
    text-transform: capitalize;
}

.text-left-gte-sm {
    @media (min-width: $screen-xs-max) {
        text-align: left;
    }
}