// Variables
$border-color: #ddd;
$border-radius: 8px;
$screen-md-min: 960px;

// Lib
@import "./components/bootstrap.scss";

// Mixins
@import "./components/mixins/animate.scss";
@import "./components/mixins/form-element.scss";

// Components
@import "./components/alert.scss";
@import "./components/autocomplete.scss";
@import "./components/badge.scss";
@import "./components/card-group-edit.scss";
@import "./components/columns.scss";
@import "./components/deck-actions.scss";
@import "./components/flex.scss";
@import "./components/header.scss";
@import "./components/hidden.scss";
@import "./components/hr.scss";
@import "./components/input.scss";
@import "./components/lightbox.scss";
@import "./components/list-group.scss";
@import "./components/margins.scss";
@import "./components/nav.scss";
@import "./components/padding.scss";
@import "./components/radio-group.scss";
@import "./components/section.scss";
@import "./components/select.scss";
@import "./components/spinners.scss";
@import "./components/tabs.scss";
@import "./components/tag-input.scss";
@import "./components/textarea.scss";

body {
    padding-bottom: 50px;
    background-color: #313131;
    background-image: url("../images/bg.png");
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: $screen-lg;

    &:not(.sm) {
        @media (min-width: $screen-md-min) {
            padding-left:15px;
            padding-right:15px;
        }
    }

    &.sm {
        max-width: $screen-sm;
    }
}

.btn {
    &:hover, &:active, &:focus, &:active:focus {
        outline: none;
    }
}

.pull-right {
    float: right;
}

.large {
    font-size: 18px;
}

.small {
    font-size: 12px;
}

.light {
    color: #777;
}

.capitalize {
    text-transform: capitalize;
}

.round {
    border-radius: $border-radius;
}

.round-top {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.round-bottom {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.border {
    border: 1px solid $border-color;
}

.border-left-gte-md {
    border-left: 1px solid $border-color;
}

.text-left-gte-sm {
    @media (min-width: $screen-xs-max) {
        text-align: left;
    }
}

.hide-prices .price {
    display: none;
}

.stat-group {
    .name::after {
        content: ":";
    }
    .bar {
        background-color: #777;
        color: #777;
    }
}

.deck-info {
    padding: 10px;
    border-top-width: 0;
}

.deck-name {
    padding: 5px 6px;
    font-size: 18px;
    height: 36px;
}

.deck-name-input[type=text] {
    color: $text-color;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 5px 6px 5px;
    font-size: 18px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    height: 36px;
    &:not(:hover):not(:focus):not(:active) {
        background-color: transparent;
        border-color: transparent;
    }
}