<section *ngIf="cardGroups$ | async as cardGroups">
    <div class="margin">
        <div class="flex-lte-xs flex-padding">
            <button class="btn btn-default round" (click)="addCardGroup()">
                <strong>+</strong>
                Add Group
            </button>
            <button class="btn btn-default round" (click)="deleteSelectedCardGroups()">
                Delete Selected
            </button>
        </div>
        <div class="card-group-edit-container margin-top" cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="card-group-edit flex" *ngFor="let cardGroupKey of cardGroupOrder$ | async; let i = index" cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".card-group-edit-container">
                <div class="drag-handle" cdkDragHandle>⣿</div>
                <input class="name"
                    type="text"
                    [value]="cardGroups[cardGroupKey].name"
                    (valueChange)="updateCardGroupName(cardGroupKey, $event)"
                    [debounce]="2000" />
                <div class="check" (click)="selectedGroups[cardGroupKey] = !selectedGroups[cardGroupKey]" style="display:flex;align-items: center; justify-content: center;">
                    <input type="checkbox" [(ngModel)]="selectedGroups[cardGroupKey]" />
                </div>
                <div *cdkDragPlaceholder class="card-group-edit-placeholder">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</section>
