<div class="flex-gte-sm margin" style="margin-bottom:0;" *ngIf="columns.length > 0 && showHeaders">
    <div *ngFor="let column of columns">
        <div class="card-group" *ngFor="let row of column">
            <p class="large capitalize" *ngIf="row.name">{{row.name}} <span class="light">&#8226; {{row.numberOfCards}}</span></p>
            <p>
                <span *ngFor="let card of row.cards">
                    <span class="quantity light">{{card.quantity}}x</span>
                    <span>&nbsp;</span> 
                    <a href="#" class="name" card-preview lightbox [cardDefinition]="card.definition">{{card.definition.name}}</a>
                    <span>&nbsp;</span> 
                    <span class="price small light">{{card.usd | number: '1.2-2'}}</span>
                    <br>
                </span>
            </p>
        </div>
    </div>
</div>
<div class="flex-gte-sm margin" *ngIf="columns.length > 0 && !showHeaders">
    <div *ngFor="let column of columns">
        <div class="card-group" *ngFor="let row of column">
            <span *ngFor="let card of row.cards">
                <span class="quantity light">{{card.quantity}}</span>
                <span>&nbsp;</span>
                <a href="#" class="name" card-preview lightbox [cardDefinition]="card.definition">{{card.definition.name}}</a>
                <span class="price">&nbsp;</span> 
                <span class="price small light">{{card.usd | number: '1.2-2'}}</span>
                <br>
            </span>
        </div>
    </div>
</div>