<div *ngIf="!(canEdit$ | async) && deck.tags.length > 0">
    <div class="tags"><span class="badge" *ngFor="let tag of deck.tags">{{tag}}</span></div>
    <hr class="dashed">
</div>
<div class="tag-input" *ngIf="canEdit$ | async">
    <input type="text"
        class="tags transparent"
        placeholder="tags"
        [(value)]="tags"
        (valueChange)="tagsChanged()"
        [debounce]="2000">
    <hr class="dashed">
    <div><span class="badge" *ngFor="let tag of deck.tags">{{tag}}</span></div>
</div>
<textarea class="transparent"
    placeholder="notes"
    [(value)]="deck.notes"
    (valueChange)="deckChanged$.next()"
    [debounce]="2000"
    [disabled]="!(canEdit$ | async)"
    allow-tabs
    autosize></textarea>