<section>
  <div class="margin">
    <div class="flex-lte-xs flex-padding">
      <button class="btn btn-default round" (click)="addCardGroup()">
        <strong>+</strong>
        Add Group
      </button>
      <button class="btn btn-default round" (click)="deleteSelectedCardGroups()">
        Delete Selected
      </button>
    </div>
    <div class="card-group-edit-container margin-top" cdkDropList (cdkDropListDropped)="drop($event)">
      @for (cardGroup of deck().cardGroups(); track cardGroup) {
        <div class="card-group-edit flex" cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".card-group-edit-container">
          <div class="drag-handle" cdkDragHandle>⣿</div>
          <input class="name"
            type="text"
            [value]="cardGroup.name()"
            (valueChange)="cardGroup.name.set($event)"
            [debounce]="2000" />
          <div class="check" (click)="toggleSelected(cardGroup)" style="display:flex;align-items: center; justify-content: center;">
            <input type="checkbox" [value]="selectedGroups.get(cardGroup)" />
          </div>
          <div *cdkDragPlaceholder class="card-group-edit-placeholder">
            <input type="text">
          </div>
        </div>
      }
    </div>
  </div>
</section>
