@if (!canEdit() && tags().length > 0) {
  <div class="tags">
    @for (tag of tags(); track tag) {
      <span class="badge">{{tag}}</span>
    }
  </div>
  <hr class="dashed">
}
@if (canEdit()) {
  <div class="tag-input">
    <input type="text"
      class="tags transparent"
      placeholder="tags"
      [value]="tagsInput()"
      (valueChange)="updateTags($event)"
      [debounce]="2000">
    <hr class="dashed">
    <div>
      @for (tag of tags(); track tag) {
        <span class="badge">{{tag}}</span>
      }
    </div>
  </div>
}
<textarea class="transparent"
  placeholder="notes"
  [value]="notes()"
  (valueChange)="updateNotes($event)"
  [debounce]="2000"
  [disabled]="!canEdit()"
  allow-tabs
  autosize></textarea>